//llamo al archivo variables
@import "../abstracts/variables";
//llamo al archivo mixin
@import "../abstracts/mixin";

/* Navbar sin scroll innecesario, defini estos parametros porque me generaba scroll a los costados */
.navbar {
flex-shrink: 0;
}

/* modifico el background que viene con boostraps */
.navbar {

    background-color:$color-navbar ;
}
/* modifico la barra a mi prefencia */
.navbar-collapse {
    justify-content: right;
    align-content: space-between;
    padding-right: 20px;
}
/* modifico el back del menu desplegable */
.dropdown-menu {
    background-color: #B09F7F;
}

/* mobile */
.menu {
    @include grid(grid, none, 1fr);
    background-color: $color-principal;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.textos {
    grid-row: 2;
    line-height: 1.5;
   
    width: 100%;
    height: auto;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 2 rem;
}
/* modifico los parrafos que estan dentro de la clase textos */
.textos p {
    font-size: 20px;
    color: $color-tipografia;
    font-family: Arial, Helvetica, sans-serif;
}
.texto-menu {
    font-size: 32px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* defino el h1, que sera la palabra clave para que el motor de busqueda seleccione mi pagina al momento de buscar */
h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 35px;
}
/* defino la imagen que se encuetra en el index para que quede proporcionada dentro del contenedor */
.imagen-principal {
    align-items: center ;
    justify-content: center;
    
    
    width: 100%;
    height: auto;
    object-fit: cover;
   
}
.principal-h1 {
    @include flex(space-evenly);
    grid-row: 1;
    
}
footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
   
}
/* aca comenzamos con dulces en frascos */
/* defino varios parametros que seran usado en mobile y despues los modifico para desktop */
.body-dulces-fracos {
    @include flex(none);
    align-items: center ;

}
.menu-dulces-fracos {
    background-color: $color-background;
    padding: 20px;
    padding-bottom: 50px;
    margin: 20px;
    @include grid(grid, auto, none);

    justify-content: center;
    gap: 10px;
    width: auto;
    }


.menu-dulces-fracos img {
    max-width: 100%;
    height: auto; 
    display: block;
    border-style: double;
    border-color: black ;
}
.d-flex {
    margin-top: 20px;
    margin-bottom: 20px;
}


.dulces-en-frascos {
    @include flex(center);
    align-items: center;
   
}

span {
    font-size: 16px;
    font-weight: bold;
    color: $color-tipografia;
    font-family: Arial, Helvetica, sans-serif;
}

/* pagina nueces confitadas */

.main-nueces-confitadas {
    @include flex(center);
    align-items: center;
    padding: 20px;
    background-color: $color-background;
    margin: 20px;
}
.main-nueces-confitadas img {
    width: 50%;
    height: auto;
    object-fit: cover;
    padding: 20px;
}
.d-flex align-items-center gap-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.h2-contacto {
    text-align: left;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: $color-tipografia;
}
.h1-contacto {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $color-tipografia;
}
.contacto {
    align-items: center;
    text-align: left;
    margin: 20px;
    padding: 20px;  
    background-color: #E2D0C2;
    font-size: 20px ;
}
.instagram img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    align-items: self-start;
    display: block;}

.instagram p {
    font-size: 20px;
    color: $color-tipografia;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-top: 10px;
}

.h1-promociones {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $color-tipografia;
}
.h2-promociones {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $color-tipografia;
}   
.promociones {
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;  
    background-color: #E2D0C2;
    font-size: 20px ;
}
/* trabajamos para dispositivos mayores a mobile */
/* aca uso grid, ya que venia trabajando con flex, asi defino columnas y filas */

@media (min-width :480px) {
    .menu {
        grid-template-columns: repeat(2, 1fr);
    }
    .textos {
    grid-column: 1;
    
    }
    .texto-menu {
        font-size: 32px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .textos p {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
        
    }
    .principal-h1 {
    grid-row: 2;
    align-items: center;
    justify-content: center;
    }
    .principal-h1 img {
        width: 70%;
        height: auto;
        object-fit: cover;

    }
    .menu-dulces-fracos {
        @include grid(grid, 1 fr , repeat(4, 25% ));      
    }
    .menu-dulces-fracos img{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;

        
    }
    .main-nueces-confitadas {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        background-color: #E2D0C2;
        margin: 20px;
    }
}




